<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Happy Diwali</title>
    <link rel="stylesheet" href="./css/home.css" />
  </head>
  <body>
    <!-- Background Pattern -->
    <div class="background-pattern"></div>

    <!-- Overlay Image -->
    <img src="./image/pngwing3.png" alt="Overlay Image" class="overlay-image" />

    <div class="container">
      <div class="message">
        <p>Create Wishing Card For Your Loved One</p>
        <form action="/form" method="post">
          <input type="text" placeholder="From" name="from" required />
          <input type="text" placeholder="To" name="to" required />
          <textarea
            placeholder="MASSAGE"
            name="msg"
            id=""
            cols="30"
            rows="10"
            required
          ></textarea>
          <button class="button-12" role="button">Get Link & Share</button>
        </form>
      </div>
    </div>
  </body>
</html>
