<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Happy Diwali</title>
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <!-- Background Pattern -->
    <div class="background-pattern"></div>

    <!-- Overlay Image -->
    <img src="/image/pngwing3.png" alt="Overlay Image" class="overlay-image" />

    <div class="container">
      <!-- Title Text -->
      <div class="title">Happy Diwali</div>
      <br />
      <!-- Message -->
      <div class="message">From: <%= msg.frm %> --- To: <%= msg.to %></div>

      <div class="message">
        <p><%= msg.msg %></p>
        <form action="/frm" method="get">
          <button class="button-12" role="button">
            Create For Your Loved One
          </button>
        </form>
      </div>
    </div>
  </body>
</html>
